@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.ContenedorTotal {
  display: grid;
  background-color: #d1d1d1;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: "menu" "titulo" "productos" "pie";
  margin: 0%;
  padding: 0%;
  overflow: hidden;
}

.areaMenu {
  grid-area: menu;
  background-color: rgb(248, 156, 35);
  height: 200px;
}
@media screen and (max-width: 768px) {
  .areaMenu {
    height: 120px;
  }
}

.areaTitulo {
  grid-area: titulo;
  background-color: rgb(161, 161, 161);
}

.areaProductos {
  grid-area: productos;
  background-image: url("../Imágenes/fondoPrincipal.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

p {
  font-size: 150%;
  margin: 2%;
  text-align: justify;
  margin-top: 0%;
}
@media screen and (max-width: 768px) {
  p {
    font-size: 120%;
  }
}

.navbar {
  margin-top: 0;
  grid-area: menu;
  position: absolute;
  right: 0;
  top: 10%;
  font-size: 20px;
  background-color: rgb(248, 156, 35);
}
@media screen and (min-width: 769px) and (max-width: 991px) {
  .navbar {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    font-size: 13px;
  }
}

.letranaranja {
  color: rgb(248, 156, 35);
  padding: 2%;
  text-align: center;
  font-style: oblique;
}
@media screen and (max-width: 768px) {
  .letranaranja {
    font-size: 15px;
  }
}

.portada {
  height: 160px;
  width: 400px;
  margin: 2%;
}
@media screen and (max-width: 768px) {
  .portada {
    height: 108px;
    width: 240px;
    padding: 18px;
  }
}

form {
  font-size: 15px;
  padding: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

label {
  margin: 10px;
  color: #505050;
}

input {
  margin: 10px;
}

h1 {
  font-size: 9px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 7px;
  }
}

h2 {
  font-size: 12px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 10px;
  }
}

h3 {
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 10px;
  }
}

h4 {
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
@media screen and (max-width: 768px) {
  h4 {
    font-size: 15px;
  }
}

h5 {
  font-size: 28px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
@media screen and (max-width: 768px) {
  h5 {
    font-size: 18px;
  }
}

h6 {
  font-size: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
@media screen and (max-width: 768px) {
  h6 {
    font-size: 24px;
  }
}

.tituloseccion {
  padding: 2%;
  color: #505050;
  font-style: oblique;
}

.subtituloseccion {
  padding: 2%;
  color: #505050;
  font-weight: bolder;
}

.portadaseccion {
  width: 100%;
}

.cajaEstudio, .cajaCerrado, .cajaInversion {
  display: inline-block;
  background-color: rgb(248, 156, 35);
  margin: 50px;
  height: 400px;
  width: 270px;
  border: 2px solid rgb(26, 25, 29);
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .cajaEstudio, .cajaCerrado, .cajaInversion {
    height: 380px;
    width: 270px;
    border: 1px solid rgb(26, 25, 29);
    margin: 20px;
  }
}

.cajaInversion {
  background-color: rgb(255, 230, 0);
}

.cajaCerrado {
  background-color: rgb(11, 161, 49);
}

.progress {
  margin: 7%;
}

.ed {
  margin: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tituloed {
  margin: 7%;
  color: #333333;
}

.recuadroFinanciacion, .recuadroCerrado, .recuadroEstudio {
  display: inline-block;
  background-color: rgb(255, 230, 0);
  margin: 20px;
  height: 30px;
  width: 180px;
  border: 2px solid rgb(26, 25, 29);
}
@media screen and (max-width: 768px) {
  .recuadroFinanciacion, .recuadroCerrado, .recuadroEstudio {
    margin: 5px;
    height: 21px;
    width: 126px;
  }
}

.recuadroEstudio {
  background-color: rgb(248, 156, 35);
}

.recuadroCerrado {
  background-color: rgb(11, 161, 49);
}

.tituloed1 {
  margin: 5%;
  color: #333333;
}

.recuadrop {
  padding: 4%;
  float: right;
  width: 75%;
}

.recuadroimg {
  float: left;
  width: 29px;
}
@media screen and (max-width: 768px) {
  .recuadroimg {
    width: 15px;
  }
}

.recuadro2 {
  display: inline-block;
  margin: 5%;
  height: 30px;
  width: 240px;
}

.recuadroimg2 {
  float: right;
  margin-right: 0%;
  width: 29px;
}

.recuadrop2 {
  margin-left: 4%;
  float: left;
  width: 75%;
}

.recuadrop3 {
  margin-left: 7%;
  float: left;
  width: 65%;
}

.recuadro4 {
  float: right;
}

.fondofooter {
  grid-area: pie;
  background-color: rgb(161, 161, 161);
}

.divfooter {
  display: inline-block;
  margin: 50px;
  color: rgb(58, 58, 58);
}
@media screen and (max-width: 768px) {
  .divfooter {
    margin: 20px;
  }
}

ul li a {
  text-decoration: none;
  color: inherit;
}

.boton {
  margin: 5%;
  font-size: 120%;
}

@media screen and (max-width: 768px) {
  .formFinanciate {
    font-size: 90%;
  }
}

.formContacto {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
@media screen and (min-width: 769px) and (max-width: 991px) {
  .formContacto {
    width: 75%;
  }
}
@media screen and (max-width: 768px) {
  .formContacto {
    width: 100%;
  }
}

.recuadroGrafico {
  height: 500px;
  margin: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .recuadroGrafico {
    height: 300px;
  }
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
}

.texto-imagen-contenedor,
.imagen-texto-contenedor {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  margin-top: 0%;
}

.textoNosotros {
  text-align: justify;
  width: 50%;
  margin: 5%;
}

.imagenNosotros {
  flex-basis: 50%;
  width: 80%;
  height: auto;
  margin: 10%;
}

.imagen-texto-contenedor .textoNosotros {
  text-align: justify;
}

@media (max-width: 991px) {
  .textoNosotros,
  .imagenNosotros {
    flex-basis: 100%;
  }
  .imagenNosotros {
    width: 80%;
    padding: 2%;
    display: flex;
    justify-content: center;
  }
  .texto-imagen-contenedor,
  .imagen-texto-contenedor {
    flex-direction: column;
  }
  .textoNosotros {
    width: 100%;
    padding: 5%;
  }
}

/*# sourceMappingURL=estilos.css.map */
